{% extends "base.html" %} {% block title %} Scholarship Details {% endblock %}
{% block content %}

<section class="py-5">
  <div class="container">
    <h1 class="mb-4">Scholarship Details</h1>

    <div class="row mt-5 align-items-center">
      <div class="col-lg-6">
        <img
          src="https://placehold.co/700x450?text=Scholarship+Image"
          class="img-fluid rounded shadow"
          alt="Scholarship Image"
        />
      </div>

      <div class="col-lg-6">
        <h2 class="fw-bold">Fully Funded DAAD Scholarship</h2>

        <hr />

        <p><strong>Country:</strong> Germany</p>

        <p><strong>University:</strong> DAAD</p>

        <p><strong>Degree:</strong> Masters / PhD</p>

        <p><strong>Deadline:</strong> 31 October 2026</p>
      </div>
    </div>

    <hr class="my-5" />

    <h3 class="mb-4">Benefits</h3>

    <ul class="list-group mb-5">
      <li class="list-group-item">✔ Full Tuition Fee</li>

      <li class="list-group-item">✔ Monthly Stipend</li>

      <li class="list-group-item">✔ Air Ticket</li>

      <li class="list-group-item">✔ Health Insurance</li>
    </ul>
    <hr class="my-5" />

    <h3 class="mb-4">Eligibility</h3>

    <ul class="list-group mb-5">
      <li class="list-group-item">✔ Bachelor's Degree</li>

      <li class="list-group-item">
        ✔ English Proficiency (IELTS/TOEFL if required)
      </li>

      <li class="list-group-item">✔ Good Academic Record</li>

      <li class="list-group-item">✔ Open to International Students</li>
      <hr class="my-5" />

      <h3 class="mb-4">Required Documents</h3>

      <ul class="list-group mb-5">
        <li class="list-group-item">✔ Updated CV</li>

        <li class="list-group-item">✔ Academic Transcripts</li>

        <li class="list-group-item">✔ Passport Copy</li>

        <li class="list-group-item">✔ Recommendation Letter</li>

        <li class="list-group-item">✔ Motivation Letter</li>
      </ul>
    </ul>

    <div class="text-center mb-5">
      <a href="#" class="btn btn-success btn-lg px-5"> Apply Now </a>
    </div>
  </div>
</section>

{% endblock %}
