{% extends "base.html" %} {% block title %} Scholarship Details {% endblock %}
{% block content %}

<section class="py-5">
  <div class="container">
    <h1 class="mb-4">Scholarship Details</h1>

    <div class="row mt-5 align-items-center">
      <div class="col-lg-6">
        <img
          src="{{ url_for('static', filename='uploads/' + scholarship.image) if scholarship.image else 'https://placehold.co/700x450?text=Scholarship+Image' }}"
          class="img-fluid rounded shadow object-fit-cover"
          style="height: 450px;"
          alt="Scholarship Image"
        />
      </div>

      <div class="col-lg-6">
        <h2 class="fw-bold">{{ scholarship.title }}</h2>

        <hr />

        <p><strong>Country:</strong> {{ scholarship.country }}</p>

        <p><strong>University:</strong> {{ scholarship.university }}</p>

        <p><strong>Degree:</strong> {{ scholarship.degree }}</p>

        <p><strong>Deadline:</strong> {{ scholarship.deadline }}</p>
      </div>
    </div>

    <hr class="my-5" />

    <h3 class="mb-4">Description</h3>

    <div class="mb-5">
      <p style="white-space: pre-line">{{ scholarship.description }}</p>
    </div>

    <hr class="my-5" />

    <h3 class="mb-4">Benefits</h3>

    <ul class="list-group mb-5">
      {% for benefit in scholarship.benefits.split(',') %}
      <li class="list-group-item">✔ {{ benefit.strip() }}</li>
      {% endfor %}
    </ul>

    <hr class="my-5" />

    <h3 class="mb-4">Eligibility</h3>

    <ul class="list-group mb-5">
      {% for item in scholarship.eligibility.split(',') %}
      <li class="list-group-item">✔ {{ item.strip() }}</li>
      {% endfor %}
    </ul>

    <h3 class="mb-4">Required Documents</h3>

    <ul class="list-group mb-5">
      {% for document in scholarship.documents.split(',') %}
      <li class="list-group-item">✔ {{ document.strip() }}</li>
      {% endfor %}
    </ul>

    <div class="text-center mb-5">
      <a
        href="{{ scholarship.apply_link }}"
        class="btn btn-success btn-lg px-5"
        target="_blank"
      >
        Apply Now/Get Official Link
      </a>
    </div>
  </div>
</section>

{% endblock %}
